# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data (Mantener los datos locales fuera del repo)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/cache/*
!data/cache/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store